<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>商品列表页</title>
  <link rel="stylesheet" href="__PUBLIC__/Home/css/base.css" type="text/css" />
  <link rel="stylesheet" href="__PUBLIC__/Home/css/shop_common.css" type="text/css" />
  <link rel="stylesheet" href="__PUBLIC__/Home/css/shop_header.css" type="text/css" />
  <link rel="stylesheet" href="__PUBLIC__/Home/css/shop_list.css" type="text/css" />
  <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css" type="text/css" />
  <link rel="stylesheet" href="__PUBLIC__/Home/css/shop_gouwuche.css" type="text/css" />
  <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.js" ></script>
  <script type="text/javascript" src="__PUBLIC__/Home/js/topNav.js" ></script>
</head>
<body>
  <!-- 头部开始   -->
  <include file="Public/head" />
  <!-- 头部 End -->
  <!-- 面包屑 注意首页没有 -->
  <div class="shop_hd_breadcrumb">
    <strong>当前位置：</strong>
    <span>
     <a href="">首页</a>&nbsp;›&nbsp;
     <a href="">我的商城</a>&nbsp;›&nbsp;
     <a href="">确认订单</a>
   </span>
 </div>
 <div class="clear"></div>
 <!-- 面包屑 End -->
 <!-- 购物流程导航 -->
 <div class="shop_gwc_bd_contents_lc clearfix">
  <ul>
   <li class="step_a ">确认购物清单</li>
   <li class="step_b ">确认收货人资料及送货方式</li>
   <li class="step_c hover_c">购买完成</li>
 </ul>
</div>
<!-- 购物流程导航 End -->
<!--商城成功-->
<div class="clear"></div>
<div class="wbox">

 <div class="jifen1">
   <div class="dui">
     <img src="__PUBLIC__/Home/images/d.png" width="80" height="80">
     <h2>下单成功!</h2>
     <p>完成订单支付后,我们工作人员将安排发货！</p>
     <div class="dui1">
      <input type="submit" value="去 支 付" class="sub1">
      <input type="button" value="查看订单" class="sub1 but" onclick="location.href='{:U(\'Order/user\')}'">
    </div>
  </div>
  </div>
</div>
<!--商城成功end-->
<!--底部开始-->
<include file="Public/foot" />
<!-- 底部 End -->
</body>
</html>
