<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>我的订单</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/base.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/shop_common.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/shop_header.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/shop_manager.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/shop_shdz_835.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css" type="text/css" />
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.js" ></script>
	<script type="text/javascript" src="__PUBLIC__/Home/js/topNav.js" ></script>
</head>
<body>
	<!-- 头部开始   -->
	<include file="Public/head" />
	<!-- 头部 End -->
	<!-- 面包屑 注意首页没有 -->
	<div class="shop_hd_breadcrumb">
		<strong>当前位置：</strong>
		<span>
			<a href="">首页</a>&nbsp;›&nbsp;
			<a href="">我的商城</a>&nbsp;›&nbsp;
			<a href="">已买到商品</a>
		</span>
	</div>
	<div class="clear"></div>
	<!-- 面包屑 End -->
	<!-- Header End -->	
	<!-- 我的个人中心 -->
	<div class="shop_member_bd clearfix">
		<!-- 左边导航 -->
		<div class="shop_member_bd_left clearfix">
			
			<div class="shop_member_bd_left_pic">
				<a href="javascript:void(0);"><img src="__PUBLIC__/Home/images/avatar.png" /></a>
			</div>
			<div class="clear"></div>
			<dl>
				<dt>我的交易</dt>
				<dd><span><a href="{:U('Order/user')}">已购买商品</a></span></dd>
			</dl>
			<dl>
				<dt>我的账户</dt>
				<dd><span><a href="{:U('User/infoEdit')}">资料修改</a></span></dd>	
			</dl>
		</div>
		<!-- 左边导航 End -->
		<!-- 右边购物列表 -->
		<div class="shop_member_bd_right clearfix" style="width:830px;">
			<div class="shop_member_bd_right clearfix">
				<div class="shop_meber_bd_good_lists clearfix">
					<div class="title"><h3>订单列表</h3></div>
					<table>
						<thead class="tab_title">
							<th style="width:410px;"><span>商品信息</span></th>
							<th style="width:100px;"><span>单价</span></th>
							<th style="width:80px;"><span>数量</span></th>
							<th style="width:100px;"><span>小计</span></th>
							<th style="width:115px;"><span>状态</span></th>
						</thead>
						<tbody>
						<volist name = "orders_list" id="vo">
							<!--循环订单开始-->
							<tr><td colspan="5">
								<table class="good">
									<thead >
										<tr><th colspan="6">
											<strong>{$vo.add_time|date="Y-m-d H:i:s",###}</strong>  <strong>订单号码：</strong>{$vo.sn}</strong>
											<strong>总价：</strong>{$vo.total}</strong>
										</th>	
									</tr>
								</thead>
								<tbody>
									<volist name="orders_product[$vo['oid']]" id="row">

										<!--循环订单产品开始-->
										<tr>
											<td class="dingdan_pic"><img src="{$row.img}" /></td>
											<td class="dingdan_title"><span><a href="">{$row.title}</a></span> </td>
											<td class="dingdan_danjia">￥<strong>{$row.price}</strong></td>
											<td class="dingdan_shuliang">{$row.number}</td>
											<td class="dingdan_zongjia">￥<strong>25.00</strong></td>
											<eq name="i" value="1" ><td  width="15%" rowspan="{$orders_product[$vo['oid']]|count}" style="text-align:center;border-left:1px solid #e8e8e8">
												<if condition="$vo['status'] eq 1">
												未发货
												<elseif condition="$vo['status'] eq 2" />
												已发货
												<elseif condition="$vo['status'] eq 3" />
												配送中
												<elseif condition="$vo['status'] eq 4" />
												已完成
												</if>
											</td></eq>
										</tr>
										<!--循环订单产品结束-->
									</volist>
								</tbody>
							</table>
						</td></tr>
						<!--循环订单结束-->
					</volist>
					</tbody>
				</table>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<!-- 右边购物列表 End -->
</div>
<!-- 我的个人中心 End -->
<!--底部开始-->
<include file="Public/foot" />
<!-- 底部 End -->
</body>
</html>