<!doctype html>
<head>
  <meta charset="utf-8">
  <title>百货商城-首页</title>
  <link rel="stylesheet" href="__PUBLIC__/Home/css/base.css" type="text/css" />
  <link rel="stylesheet" href="__PUBLIC__/Home/css/shop_common.css" type="text/css" />
  <link rel="stylesheet" href="__PUBLIC__/Home/css/shop_header.css" type="text/css" />
     <link rel="stylesheet" href="__PUBLIC__/Home/css/shop_home.css" type="text/css" />
     <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.js" ></script>
     <script type="text/javascript" src="__PUBLIC__/Home/js/focus.js" ></script>
</head>
<body>
  <include file="Public/head" />
  <!-- 图片切换  begin  -->
  <div class="shop_bd_2 clearfix">
    <div class="xifan_sub_box">
      <div id="p-select" class="sub_nav">
        <div class="sub_no" id="xifan_bd1lfsj"><ul></ul></div>
      </div>
      <div id="xifan_bd1lfimg">
        <div>
          <dl class=""></dl>
          <!--轮播广告-->
          <volist name="ban_list" id="vo">
            <dl class="">
              <dt><a href="" title="" target="_blank"><img src="{$vo.water_img}" alt="{$vo.title}" ></a></dt>
            </dl>
          </volist>
          <!-- <dl class="">
            <dt><a href="" title="" target="_blank"><img src="__PUBLIC__/Home/images/e50b5d398e3b890f08e14defbc71a94d.jpg" alt="潜入城市周边清幽之地"></a></dt>
          </dl> -->
          <!--轮播广告 END-->
        </div>
      </div>
    </div>
    <script type="text/javascript">movec();</script> 
  </div>
  <!-- 图片切换  end --> 
  <div class="clear"></div>
  <!-- 特别推荐 -->
  <div class="shop_bd_2 clearfix ">
    <div class="shop_bd_tuijian">
      <ul class="tuijian_tabs">
        <li class="hover" >新品推荐</li> 
      </ul>
      <div class="tuijian_content">
        <div id="tuijian_content_1" class="tuijian_shangpin" style="display: block;">
          <ul>
            <li>
              <dl>
                <dt><a href="product.html"><img src="__PUBLIC__/Home/images/365_7d5e08127b8d6799209674ecffbfc624.jpg_small.jpg" /></a></dt>
                <dd><a href="product.html">11111111棉布艺双人沙发垫沙发巾飘窗垫素雅黄花</a></dd>
                <dd> 商城价：<em>256.00</em>元</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt><a href="product.html"><img src="__PUBLIC__/Home/images/365_7d5e08127b8d6799209674ecffbfc624.jpg_small.jpg" /></a></dt>
                <dd><a href="product.html">外贸田园绗缝全棉布艺双人沙发垫沙发巾飘窗垫素雅黄花</a></dd>
                <dd> 商城价：<em>256.00</em>元</dd>
              </dl>
            </li>

            <li>
              <dl>
                <dt><a href="product.html"><img src="__PUBLIC__/Home/images/365_7d5e08127b8d6799209674ecffbfc624.jpg_small.jpg" /></a></dt>
                <dd><a href="product.html">外贸田园绗缝全棉布艺双人沙发垫沙发巾飘窗垫素雅黄花</a></dd>
                <dd> 商城价：<em>256.00</em>元</dd>
              </dl>
            </li>

            <li>
              <dl>
                <dt><a href="product.html"><img src="__PUBLIC__/Home/images/365_7d5e08127b8d6799209674ecffbfc624.jpg_small.jpg" /></a></dt>
                <dd><a href="product.html">外贸田园绗缝全棉布艺双人沙发垫沙发巾飘窗垫素雅黄花</a></dd>
                <dd> 商城价：<em>256.00</em>元</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt><a href="product.html"><img src="__PUBLIC__/Home/images/365_7d5e08127b8d6799209674ecffbfc624.jpg_small.jpg" /></a></dt>
                <dd><a href="product.html">外贸田园绗缝全棉布艺双人沙发垫沙发巾飘窗垫素雅黄花</a></dd>
                <dd> 商城价：<em>256.00</em>元</dd>
              </dl>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- 特别推荐 End -->
  <div class="clear"></div>
  <!-- 特别推荐 -->
  <div class="shop_bd_2 clearfix">
    <div class="shop_bd_tuijian">
      <ul class="tuijian_tabs">
        <li class="hover"  >精品推荐</li>    
      </ul>
      <div class="tuijian_content">
        <div id="tuijian_content_1" class="tuijian_shangpin" style="display: block;">
          <ul>
            <li>
              <dl>
                <dt><a href="product.html"><img src="__PUBLIC__/Home/images/365_7d5e08127b8d6799209674ecffbfc624.jpg_small.jpg" /></a></dt>
                <dd><a href="product.html">11111111棉布艺双人沙发垫沙发巾飘窗垫素雅黄花</a></dd>
                <dd> 商城价：<em>256.00</em>元</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt><a href="product.html"><img src="__PUBLIC__/Home/images/365_7d5e08127b8d6799209674ecffbfc624.jpg_small.jpg" /></a></dt>
                <dd><a href="product.html">外贸田园绗缝全棉布艺双人沙发垫沙发巾飘窗垫素雅黄花</a></dd>
                <dd> 商城价：<em>256.00</em>元</dd>
              </dl>
            </li>

            <li>
              <dl>
                <dt><a href="product.html"><img src="__PUBLIC__/Home/images/365_7d5e08127b8d6799209674ecffbfc624.jpg_small.jpg" /></a></dt>
                <dd><a href="product.html">外贸田园绗缝全棉布艺双人沙发垫沙发巾飘窗垫素雅黄花</a></dd>
                <dd> 商城价：<em>256.00</em>元</dd>
              </dl>
            </li>

            <li>
              <dl>
                <dt><a href="product.html"><img src="__PUBLIC__/Home/images/365_7d5e08127b8d6799209674ecffbfc624.jpg_small.jpg" /></a></dt>
                <dd><a href="product.html">外贸田园绗缝全棉布艺双人沙发垫沙发巾飘窗垫素雅黄花</a></dd>
                <dd> 商城价：<em>256.00</em>元</dd>
              </dl>
            </li>
            <li>
              <dl>
                <dt><a href="product.html"><img src="__PUBLIC__/Home/images/365_7d5e08127b8d6799209674ecffbfc624.jpg_small.jpg" /></a></dt>
                <dd><a href="product.html">外贸田园绗缝全棉布艺双人沙发垫沙发巾飘窗垫素雅黄花</a></dd>
                <dd> 商城价：<em>256.00</em>元</dd>
              </dl>
            </li>

          </ul>
        </div>
        </div>
    </div>
  </div>
  <!-- 特别推荐 End -->
  <include file="Public/foot" />
</body>
</html> 