<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="keyword" content="{$web_config.keyword}" >
  <meta name="description" content="{$web_config.description}" >
  <title>{$web_config.title}-首页</title>
  <link rel="stylesheet" href="__PUBLIC__/Home/css/base.css" type="text/css" />
  <link rel="stylesheet" href="__PUBLIC__/Home/css/shop_common.css" type="text/css" />
  <link rel="stylesheet" href="__PUBLIC__/Home/css/shop_header.css" type="text/css" />
     <link rel="stylesheet" href="__PUBLIC__/Home/css/shop_home.css" type="text/css" />
     <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.js" ></script>
     <script type="text/javascript" src="__PUBLIC__/Home/js/focus.js" ></script>
</head>
<body>
  <include file="Public/head" />
  <!-- 图片切换  begin  -->
  <div class="shop_bd_2 clearfix">
    <div class="xifan_sub_box">
      <div id="p-select" class="sub_nav">
        <div class="sub_no" id="xifan_bd1lfsj"><ul></ul></div>
      </div>
      <div id="xifan_bd1lfimg">
        <div>
          <dl class=""></dl>
          <!--轮播广告-->
          <volist name="ban_list" id="vo">
            <dl class="">
              <dt><a href="" title="" target="_blank"><img src="{$vo.water_img}" alt="{$vo.title}" ></a></dt>
            </dl>
          </volist>
          <!--轮播广告 END-->
        </div>
      </div>
    </div>
    <script type="text/javascript">movec();</script> 
  </div>
  <!-- 图片切换  end --> 
  <div class="clear"></div>
  <!-- 特别推荐 -->
  <div class="shop_bd_2 clearfix ">
    <div class="shop_bd_tuijian">
      <ul class="tuijian_tabs">
        <li class="hover" >新品推荐</li> 
      </ul>
      <div class="tuijian_content">
        <div id="tuijian_content_1" class="tuijian_shangpin" style="display: block;">
          <ul>
            <volist name="new_list" id="vo">
              <li>
                <dl>
                  <dt><a href="{:U('Index/product',array('pid'=>$vo['pid']),'')}"><img src="{$vo.water_img}" width=160 height=160 /></a></dt>
                  <dd><a href="{:U('Index/product',array('pid'=>$vo['pid']),'')}">{$vo.title|Mystrsub}</a></dd>
                  <dd> 商城价：<em>{$vo.price}</em>元</dd>
                </dl>
              </li>
            </volist>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- 特别推荐 End -->
  <div class="clear"></div>
  <!-- 特别推荐 -->
  <div class="shop_bd_2 clearfix">
    <div class="shop_bd_tuijian">
      <ul class="tuijian_tabs">
        <li class="hover"  >精品推荐</li>    
      </ul>
      <div class="tuijian_content">
        <div id="tuijian_content_1" class="tuijian_shangpin" style="display: block;">
          <ul>
            <volist name="best_list" id="vo">
              <li>
                <dl>
                  <dt><a href="{:U('Index/product',array('pid'=>$vo['pid']),'')}"><img src="{$vo.water_img}" width=160 height=160 /></a></dt>
                  <dd><a href="{:U('Index/product',array('pid'=>$vo['pid']),'')}">{$vo.title|Mystrsub}</a></dd>
                  <dd> 商城价：<em>{$vo.price}</em>元</dd>
                </dl>
              </li>
            </volist>
          </ul>
        </div>
        </div>
    </div>
  </div>
  <!-- 特别推荐 End -->
  <include file="Public/foot" />
</body>
</html> 