<!doctype html>
<head>
	<meta charset="utf-8">
	<title>商品列表页</title>
	<link rel="stylesheet" href="__PUBLIC__/Home/css/base.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/shop_common.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/Home/css/shop_header.css" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/Home/css/shop_list.css" type="text/css" />
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Home/js/jquery.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/topNav.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/shop_list.js" ></script>
</head>
<body>
	<!-- 头部开始   -->
	<include file="Public/head" />
	<!-- 头部 End -->
	
	<div class="clear"></div>
	<!-- 面包屑 注意首页没有 -->
	<div class="shop_hd_breadcrumb">
		<strong>当前位置：</strong>
		<span>
			<a href="{:U('Index/index')}">首页</a>&nbsp;›&nbsp;
			<a href="{:U('Index/Plist')}">商品列表</a>
		</span>
	</div>
	<div class="clear"></div>
	<!-- 面包屑 End -->

	<!-- Header End -->
	<div class="shop_bd clearfix">
	

<div class="shop_bd_list_right clearfix" style="width: 1000px;">
		
<!-- 条件筛选框 -->
<div class="jifen">
      <ul>    
          <li class="overflow">
             <i class="fl">价格：<em>不限</em></i>
             <span class="fl"><a href="#">0~100元</a><a href="#">100~500元</a><a href="#">1000~2000元</a><a href="#">2000~5000元</a><a href="#">5000~10000元</a></span>
             <i class="fl i1"><form><input type="text" class="text4"> - <input type="text" class="text4">&nbsp;&nbsp;元</form></i>
             <b class="fl"><a href="#"><img src="__PUBLIC__/Home/images/a1.jpg"></a></b>
         </li>
      </ul>
   </div>
   <!-- 条件筛选END -->
   
		
			<div class="sort-bar">
				<div class="bar-l"> 
		           
		            <!-- 排序方式S -->
		            <ul class="array">
		              <li class="selected"><a title="点击按人气从高到低排序"  href="javascript:void(0)">新品</a></li>
		              <li><a title="点击按信用从高到低排序"  href="javascript:void(0)">精品</a></li>
		              <li><a title="点击按价格从高到低排序"  href="javascript:void(0)">价格</a></li>
		            </ul>
		            <!-- 排序方式E --> 
		           
		          
		          </div>
			</div>
			<div class="clear"></div>
			

			<!-- 商品列表 -->
			<div class="shop_bd_list_content clearfix">
				<ul>
                  	<!-- 循环产品 S -->
					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>

					<li>
						<dl>
							<dt><a href="product.html"><img src="__PUBLIC__/Home/images/21151da3bdefc6d9a7120c991fe59800.jpg_small.jpg" /></a></dt>
							<dd class="title"><a href="product.html">OCIAIZO春装水洗做旧短外套复古磨白短款牛仔外套春01C1417</a></dd>
							<dd class="content">
								<span class="goods_jiage">￥<strong>249.00</strong></span>
								
							</dd>
						</dl>
					</li>
             	<!-- 循环产品 End -->
					

				</ul>
			</div>
            	<!-- 商品列表 End -->
			<div class="clear"></div>
			<div class="pagination"> 
				<ul><li><span>首页</span></li>
					<li><span>上一页</span></li>
					<li><span class="currentpage">1</span></li>
					<li><span>下一页</span></li>
					<li><span>末页</span></li>
				</ul> 
			</div>
		


		</div>
	</div>
	<!-- List Body End -->

	<!--底部开始-->
	<include file="Public/foot" />
	<!-- 底部 End -->
	
</body>
</html>
